/* Generic styles */
* {
  box-sizing: border-box;
  font-family: serif;
}

/* .clearfix::after {
  content: "";
  display: table;
  clear: both;
} */

/* header */
.main-header {
  padding: 0 1.5em;
  background-color: rgb(219, 219, 219);
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title {
  font-size: 1.25em;
  color: rgb(88, 88, 88);
}

.menu {
  list-style-type: none;
  position: fixed;
  top: 0;
  right: -50%;
  margin: 0;
  padding: 0;
  width: 50%;
  height: 100vh;
  max-width: 400px;
  transition: transform 0.3s ease;
  background-color: white;
}

.active {
  transform: translateX(-100%);
  box-shadow: 0px 0 10px -5px rgb(121, 120, 120);
}
.menu li {
  margin: 1.5em 0;
  padding-left: 1.5em;
}
.menu button {
  font-size: 1.5em;
  float: right;
  border: none;
  margin: 0.3em 0.3em 0 0;
  padding: 0.3em;
  background-color: transparent;
}

.nav-burger {
  float: right;
  padding: 0.1em;
  margin: 0;
  width: 2em;
}
.nav-burger > .nav-burger-meat {
  width: 80%;
  height: 0;
  margin: 0.25em;
  background: rgb(88, 88, 88);
  border: 1px solid rgb(88, 88, 88);
}

.menu button:hover,
.nav-burger:hover,
.cta:hover {
  cursor: pointer;
  /* border: 1px solid rgb(93, 98, 116); */
  box-shadow: 0 0 1px 1px rgb(88, 88, 88);
}

/* main */
.banner {
  height: 25vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(157, 197, 211);
}
.banner > h2 {
  font-size: 1.5em;
  margin: 0;
}

main {
  text-align: center;
}
main > .container {
  display: grid;
  grid-template-columns: 100%;
  padding: 0 1em;
  margin: 0 auto;
  max-width: 1200px;
}
main > .container > .content-box {
  height: 20vh;
  text-align: center;
  padding: 1em;
  margin: 0 0.5em 1.5em 0.5em;
  background-color: rgb(93, 98, 116);
}

#hidden-contents.hidden {
  display: none;
}

.cta {
  border: none;
  padding: 1em;
  margin-bottom: 2em;
  background-color: rgb(157, 197, 211);
}

/* wide-screen styles (media queries) */

@media (min-width: 500px) {
  main > .container {
    grid-template-columns: 50% 50%;
  }
}

@media (min-width: 800px) {
  .nav-burger {
    display: none;
  }
  .menu {
    display: inline-block;
    position: absolute;
    margin: 0 1em;
    right: 0;
    height: auto;
    width: auto;
    max-width: none;
    background-color: transparent;
    transform: initial;
  }
  .menu li {
    display: inline-block;
    margin: 1em 1em;
  }
  .menu button {
    display: none;
  }
  .active {
    box-shadow: none;
  }
}
